<p id="notice"><%= notice %></p>

<p>
  <strong>Temperatura:</strong>
  <%= @climatizador.temperatura %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @climatizador.usuario_id %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @climatizador.historico %>
</p>

<%= link_to 'Edit', edit_climatizador_path(@climatizador) %> |
<%= link_to 'Back', climatizadors_path %>
