<p id="notice"><%= notice %></p>

<h1>Listing Umidificadors</h1>

<table>
  <thead>
    <tr>
      <th>Umidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @umidificadors.each do |umidificador| %>
      <tr>
        <td><%= umidificador.umidade %></td>
        <td><%= link_to 'Show', umidificador %></td>
        <td><%= link_to 'Edit', edit_umidificador_path(umidificador) %></td>
        <td><%= link_to 'Destroy', umidificador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Umidificador', new_umidificador_path %>
