<p id="notice"><%= notice %></p>

<p>
  <strong>Umidade:</strong>
  <%= @umidificador.umidade %>
</p>

<p>
  <strong>Historico:</strong>
  <%= @umidificador.historico %>
</p>

<%= link_to 'Edit', edit_umidificador_path(@umidificador) %> |
<%= link_to 'Back', umidificadors_path %>
